# Prerequisites
*.d

# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lo

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod

# Linker output
*.ilk
*.map
*.exp

# Executables
*.exe
*.out
*.app

# vim tags
tags
.tags
.*.swp

# Editors
.vscode

# build-in-source directory
build*

# emacs temporary/backup files
.\#*
\#*\#
*~
